{% extends "base.html" %}

{% block title %}Home{% endblock title %}
{% block content %}

<h1>Welcome to Damaka Sale</h1>
{% comment %} <div class="card bg-light p-5">
  <h3 class="text-dark">Signup</h3>
  <form action = "/auth/signup/" method = "post"> {% csrf_token %}
    <br>
  
    <lebel for = "email">Email</lebel>
    <div class = "form-group">
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
  
    <lebel for = "pass1">Password</lebel>
    <div class = "form-group">
      <input type="Password" class="form-control" id="pass1" name="pass1" required>
    </div>
  
    <lebel for = "pass2">Confirm Password</lebel>
    <div class = "form-group">
      <input type="Password" class="form-control" id="pass2" name="pass2" required>
    </div>
    <br>
    <button type="submit" class="btn btn-dark">SIgnIn</button>
  
    <br>
    Already User?<a href="/auth/login/">Login</a>
    <br>
  </form>
</div> {% endcomment %}

{% endblock content %}

{% block body %}

{% comment %} <!-- ======= Portfolio Section ======= --> {% endcomment %}
  <section id="portfolio" class="portfolio">
    <div class="container">
      {% for message in messages %}

      <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}

      <div class="section-title">
        <h2>Welcome to Shop</h2>
        <h3>Check our <span>Products</span></h3>
      </div>



    </div>
  </section>
  {% comment %} <!-- End Portfolio Section --> {% endcomment %}

{% endblock body %}