{% extends 'base.html' %}
{% block title %}Signup{% endblock title %}
{% block content %}

<div class="card bg-light p-5">
  <h3 class="text-dark">Signup</h3>
  <form action = "/auth/signup/" method = "post"> {% csrf_token %}
    <br>
  
    <lebel for = "email">Email</lebel>
    <div class = "form-group">
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
  
    <lebel for = "pass1">Password</lebel>
    <div class = "form-group">
      <input type="Password" class="form-control" id="pass1" name="pass1" required>
    </div>
  
    <lebel for = "pass2">Confirm Password</lebel>
    <div class = "form-group">
      <input type="Password" class="form-control" id="pass2" name="pass2" required>
    </div>
    <br>
    <button type="submit" class="btn btn-dark">SIgnIn</button>
  
    <br>
    Already User?<a href="/auth/login/">Login</a>
    <br>
  </form>
</div>



{% endblock content %}